doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="src/style/style.scss")
    title Document
  body 
    section.section1 
      nav.nav1 
        div.hamburger--menu
          .bar1 
          .bar2 
          .bar3
      nav.nav2
        ul 
          li Lorem
          li ipsum 
          li dolor 
          li sit amet
      aside.leftSide 
        .gettingStarted Getting Started
      aside.rightSide
    section.section2


    script(type ="module" src="index.js") 
      
