doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="src/style/style.scss")
    link(rel="stylesheet", href="src/style/moblieStyle.scss")
    title Responsive website design
  body 
    section.section1
      .menu 
        ul 
          li.hamList Lorem
          li.hamList Ipsum
          li.hamList Dolor
          li.hamList Sit
          li.hamList Amet
          

      nav.nav1 
        div.hamburger--menu
          .bar1 
          .bar2 
          .bar3
      nav.nav2
        ul 
          li Lorem
          li ipsum 
          li dolor 
          li sit 
      .main
        aside.leftSide 
          .gettingStarted Getting Started
        aside.rightSide 
          p Responsive 
          p website
          p design
    section.section2
      .articles
        article 
          p Technologies I used in this project
        aside
          .img--container1
            article Pugs is a compiler and interpreter for the Raku programming language, started on February 1, 2005, by Audrey Tang. (At the time, Raku was known as Perl 6.)Pugs development is now placed on hiatus, with most Raku implementation efforts now taking place on Rakudo.
            img(src="./src/assets/pug-logo.png", alt="pug-logo").pug 
          .img--container2
            img(src="./src/assets/gsap.png", alt="pug-logo").gsap 
            article The GreenSock Animation Platform (GSAP) is an industry-celebrated suite of tools used on over 11 million sites, including more than 50% of award‑winning ones! You can use GSAP to animate pretty much anything JavaScript can touch, in any framework. Whether you want to animate UI, SVG, Three.js or React components - GSAP has you covered.
          .img--container3
            article Sass is a stylesheet language that’s compiled to CSS. It allows you to use variables, nested rules, mixins, functions, and more, all with a fully CSS-compatible syntax. Sass helps keep large stylesheets well-organized and makes it easy to share design within and across projects.
            img(src="./src/assets/sass.png", alt="pug-logo").sass
      footer
        
        
          

    script(type ="module" src="index.js") 
      
