$text: #ddd;
$bg: linear-gradient(
  115deg,
  rgba(179, 27, 152, 1) 0%,
  rgba(131, 114, 186, 1) 49%,
  rgba(0, 212, 255, 1) 100%
);
* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
html {
  overflow-x: hidden;
  font-family: "Courier New", Courier, monospace;
}

.section1 {
  width: 100vw;
  height: 100vh;
  background: rgb(179, 27, 152);
  background: $bg;
  color: $text;
  .nav1 {
    width: 50%;
    height: 10%;
    float: left;
    .hamburger--menu {
      width: 3rem;
      height: 3rem;
      margin: 1rem;
      background-color: transparent;
      cursor: pointer;
      @mixin bar {
        width: 100%;
        height: 10%;
        margin-top: 20%;
        background-color: $text;
        border-radius: 5px;
      }
      .bar1 {
        @include bar();
      }
      .bar2 {
        @include bar();
      }
      .bar3 {
        @include bar();
      }
    }
  }
  .nav2 {
    width: 50%;
    display: flex;
    float: left;
    justify-content: right;
    align-items: center;
  }
  ul li {
    float: left;
    list-style-type: none;
    margin-right: 6rem;
    font-size: 2rem;
    margin-top: 2%;
  }
  .leftSide {
    width: 50%;
    height: 80%;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gettingStarted {
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: 2px solid white;
    border-radius: 1;
    appearance: button;
    color: $text;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      transition: all 0.3s linear;
      background-color: white;
      color: rgba(131, 114, 186, 1);
      cursor: pointer;
    }
  }
}

.section2 {
  width: 100vw;
  height: 100vh;
}
